<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/services.css">
        <%- include('../partials/head'); %>
    </head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron my-5 py-5 px-5 h-100" id="aboutstart">
        <h1 class="pl-lg-4 mt-5 pt-5">
            My Services
        </h1>
        <h2 class="pl-lg-4 mt-2 pb-5">
            Home/My Services
        </h2>
    </div>
    <div class="container-fluid py-4" id="service">
        <div class="row">
            <div class="col-12 text-center">
                <h4>
                    Services 
                </h4>
            </div>
            <div class="col-12 text-center">
                <h2>
                    What I can do
                </h2>
            </div>
        </div>
    <div class="row mx-lg-5">
        <div class="col-lg-4 pt-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Web Design</h5>
                    <p class="card-text">Create the look and feel for websites. Also responsible for coding web pages or entire sites, meeting with clients to review template designs and refine their final product</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pt-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">Create and maintain websites. Typically spend time creating coding languages like HTML5, which powers many modern mobile devices and managing the site's technical aspects, such as its performance</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pt-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Responsive Design</h5>
                    <p class="card-text"> Creates Web page that makes use of flexible layouts, flexible images and cascading style sheet media queries. The goal of responsive design is to build web pages that detect the visitor's screen size.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-lg-5 pt-5">
        <div class="col-lg-4 pt-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Creative Design</h5>
                    <p class="card-text">Create a rough layout for design projects and follow them through to completion. Using digital illustration software to create the finished products and to collaborate with other designers.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pt-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SEO</h5>
                    <p class="card-text">SEO is a crucial component of any marketing campaign and does not have to be confusing or time consuming. In fact, there are many things you can do to help boost your rankings.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pt-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Support</h5>
                    <p class="card-text">I offer free technical support via phone or email. 2. Contact us if you have any issues with my products</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Contact Section-->
<%- include('../partials/contactsection') %>

    <!--Work Together Section-->
<%- include('../partials/worktogthersection') %>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>